body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #34495e;
  color: white;
}

.btn {
  cursor: pointer;
}
.js-weather {
  display: block;
  font-size: 9px;
  text-align: right;
  margin-right: 20px;
}

.js-clock {
  text-align: center;
  font-size: 5vw;
}

.js-clock h1 {
  font-weight: 400;
  margin-top: 20vh;
  margin-bottom: 0;
}

.form {
  display: none;
}

.showing {
  display: block;
  text-align: center;
}

.js-greetings {
  margin: 10px;
  text-align: center;
  font-size: medium;
  font-weight: 300;
}

.to-do {
  display: grid;
}

.js-toDoForm {
  justify-self: center;
}

.js-form input,
.js-toDoForm input {
  background: transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-color: white;
  color: white;
  text-align: center;
}

.js-form input:focus,
.js-toDoForm input:focus {
  outline: none;
  text-align: left;
}

.js-form input::placeholder,
.js-toDoForm input::placeholder {
  color: white;
  text-align: center;
  opacity: 0.7;
}

ul {
  justify-self: center;
  padding-left: 0;
  list-style-type: "🍄 ";
  font-size: 15px;
  margin-top: 7px;
}

ul li button {
  background: transparent;
  border: none;
  font-size: 7px;
}

ul li button:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
